.one{
	display:flex;
	jestify-content:center;
}
.two{
	display:flex;
	jestify-content:center;
}
.three{
	display:flex;
	jestify-content:center;
}
.four{
	display:flex;
	jestify-content:center;
}
.five{
	display:flex;
	jestify-content:center;
}
.six{
	display:flex;
	jestify-content:center;
}
.seven{
	display:flex;
	jestify-content:center;
}
.eight{
	display:flex;
	jestify-content:center;
}